<div class="container">
  <header class="header-banner">
    <div class="header-content">
      <h1 class="portfolio-title">Projeto ZOPPY</h1>
      <div class="profile-area">
        <div class="profile-photo-placeholder">
          <img src="assets/fotos/minhaFoto.jpeg" alt="Sua Foto de Perfil" class="profile-photo">
        </div>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/bernardo-mol/" target="_blank" class="social-link linkedin">LinkedIn</a>
          <a href="https://github.com/BernardoMol/Portfolio" target="_blank" class="social-link github">GitHub</a>
        </div>
      </div>
    </div>
  </header>

  <section class="pedidos-section">
    <h2>Lista de Pedidos</h2>
    <button class="create-pedido-button" (click)="criarNovoPedido()">Novo Pedido</button>
    
    <div class="cards-container">
      <div class="pedidos-card" *ngFor="let pedido of pedidos">
        <div class="icon-placeholder">
          <img src="assets/fotos/iconePedido.png" alt="Ícone Pedido" class="card-icon">
        </div>

        <div class="card-content">
          <div class="card-header">
            <h3 class="idPedido">Pedido ID: {{ pedido.id || 'Nome do Projeto Indefinido' }}</h3>
            <h3 class="dataPedido">Data: {{ pedido.DataDoPedido | date:'dd/MM/yyyy' }}</h3>
          </div>
          <p>Cliente: {{ pedido.cliente.NomeCliente || 'Descrição não disponível.' }}</p>
          <p>Loja: {{ pedido.loja.NomeLoja || 'Descrição não disponível.' }}</p>
          <p>Endereço de entrega: {{ pedido.EnderecoEntrega || 'Descrição não disponível.' }}</p>
          <a [routerLink]="['/detalhes-pedido', pedido.id]" class="view-pedidos-button">Ver Detalhes</a>
        </div>
      </div>

      <div *ngIf="pedidos.length === 0" class="no-pedidos-message">
        <p>Nenhum pedido encontrado no momento.</p>
      </div>
    </div>
  </section>

</div>