.container {
  display: flex;
  flex-direction: column; /* Organiza o banner e o card verticalmente */
  justify-content: center; /* Centraliza verticalmente na tela */
  align-items: center; /* Centraliza horizontalmente na tela */
  min-height: 100vh;
  width: 100%;
  font-family: Arial, sans-serif;
  gap: 30px; /* Espaçamento entre o banner e o card */
  background-color: lightgray
}

/* Estilos para o banner principal */
.main-banner {
  width: 80%; /* Largura do banner */
  max-width: 500px; /* Largura máxima do banner */
  background-color: #3f51b5; /* Azul */
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 1.5em;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para o card que conterá os botões */
.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff; /* Fundo branco para o card */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px; /* Reduzi o padding do card também */
  width: 60%; /* Reduzi a largura do card para os botões parecerem menores */
  max-width: 400px; /* Reduzi a largura máxima do card */
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Reduzi o espaçamento entre os botões */
  width: 100%;
}

.button {
  padding: 10px 20px; /* Reduzi o padding dos botões */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em; /* Reduzi o tamanho da fonte dos botões */
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.zoppy {
  background-color: #8A2BE2; /* Roxo */
  color: rgb(0, 0, 0); /* Alterei a cor da letra para branco para melhor contraste */
}

.trecco {
  background-color: #0000FF; /* Azul */
  color: white;
}